[submodule "browserarena"]
	path = browserarena
	url = https://github.com/nottelabs/browserarena.git
[submodule "notte-cli"]
	path = notte-cli
	url = https://github.com/nottelabs/notte-cli.git
[submodule "notte-skills"]
	path = notte-skills
	url = https://github.com/nottelabs/notte-skills.git
[submodule "templates"]
	path = templates
	url = https://github.com/nottelabs/templates.git
[submodule "claude-managed-agents"]
	path = claude-managed-agents
	url = https://github.com/nottelabs/claude-managed-agents.git
